In [2]:
import polars as pl
import matplotlib.pyplot as plt
import psycopg2
from dotenv import load_dotenv
load_dotenv()
import os
import seaborn as sns
import altair as alt
alt.data_transformers.enable("vegafusion")
import vegafusion as vf

In [3]:
user = os.getenv('POSTGRES_USER')
password = os.getenv('POSTGRES_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')
dbname = os.getenv('POSTGRES_DB')

uri = f"postgresql://{user}:{password}@{host}:{port}/{dbname}"

df_purchase = pl.read_database_uri("SELECT event_time, event_type FROM customers WHERE event_type LIKE 'purchase';", uri)

In [4]:
df_purchase.head()

shape: (5, 2)
┌─────────────────────────┬────────────┐
│ event_time              ┆ event_type │
│ ---                     ┆ ---        │
│ datetime[μs, UTC]       ┆ str        │
╞═════════════════════════╪════════════╡
│ 2022-12-05 13:14:48 UTC ┆ purchase   │
│ 2022-12-15 18:50:40 UTC ┆ purchase   │
│ 2023-02-13 04:26:55 UTC ┆ purchase   │
│ 2023-01-25 01:58:52 UTC ┆ purchase   │
│ 2023-01-14 19:27:20 UTC ┆ purchase   │
└─────────────────────────┴────────────┘

In [ ]:
# Query to get the aggregate per month
SELECT
    DATE_TRUNC('month', event_time) AS month,
    COUNT(DISTINCT user_id) AS unique_customers,
    COUNT(*) AS total_purchases
FROM customers
WHERE event_type = 'purchase'
GROUP BY DATE_TRUNC('month', event_time)
ORDER BY month;

In [ ]:
# Query to get the total amount of dollars expend per month
SELECT
	DATE_TRUNC('month', event_time) AS mes,
	SUM(price) AS precio
FROM customers
WHERE event_type = 'purchase'
GROUP BY DATE_TRUNC('month', event_time)
ORDER BY mes;

In [ ]:
# Query to get the avg expend per user per month
SELECT
    DATE_TRUNC('month', event_time) AS mes,
    user_id,
    AVG(price) AS promedio
FROM customers
WHERE event_type = 'purchase'
GROUP BY DATE_TRUNC('month', event_time), user_id
ORDER BY mes, user_id;